# Python environment & cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Streamlit Secrets (PENTING: Biar API Key aman!)
.streamlit/secrets.toml
.streamlit/secret.toml

# Local Database (Database SQLite lokal kamu)
ktp_ocr.db

# OS / System files
.DS_Store
Thumbs.db